################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RecruitmentM_BE/.vs/RecruitmentM_BE/v15/Server/sqlite3
